*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}
.header{grid-area: header;}
.sidebar{grid-area: menu;}
.main{grid-area: main;}
.footer{grid-area: footer;}
.container{
	display:grid;
	grid-template-areas: 
	'header header header header header header'
	'menu menu menu menu menu menu'
	'main main main main main main'
	'footer footer footer footer footer footer';
	background-color: gray;
	grid-gap: 1px;
	
}
.container > div {
	background-color: rgba(255,255,255, 0.8);
	padding: 0;
	font-size: 1.0rem;
	color:white;
}
/*header begin*/
.header{
	padding:0;
	margin:0;
}
.l-u{
	padding:10px;
	margin:0;
	float: left;
}
.l-u p{padding-left: 10px;}
.l-out{float:right;padding:10px;}
.l-out a{
	text-decoration: none;
	color:white;
	padding-right: 10px;
}
/*header end*/

/*sidebar begin*/
.sidebar{
	background-color: hsla(220, 60%, 70%, 0.5) !important;
}

.n-i a{
	display:flex;
	text-decoration: none;
	color:white;
	padding: 10px 20px;


}
.n-i a:hover{background-color: black;}
/*end sidebar*/
/*begin main*/
#inp-g{
	padding: 10px 10px;
	width: 100%;
}